* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.cardList {
  height: 100px;
  width: 400px;
  position: relative;
  margin: 10px;
  border: 5px solid #880015;
  overflow: hidden;
  white-space: nowrap;
}

.card {
  display: inline-block;
  text-align: center;
  height: 100px;
  width: 100px;
  line-height: 100px;
  padding: 5px;
  background-color: #99e;
  font-family: monospace;
  font-size: 2em;
  color: #444;
  border-left: 2px solid #1c1919;
  border-right: 2px solid #1c1919;
}

.cardList::before,
.cardList::after {
  content: '';
  display: block;
  z-index: 100;
  width: 0px;
  height: 0px;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.cardList::before {
  position: absolute;
  top: 0px;
  left: 50%;
  border-top: 12px solid #880015;
}

.cardList::after {
  position: absolute;
  bottom: 0px;
  left: 50%;
  border-bottom: 12px solid #880015;
}
.img_sub {
  height: 80%;
}
.none {
  background-color: #d4cfcf;
  width: 110px;
}
.rare {
  background-color: #1c1919;
  width: 110px;
}
.mythical {
  background-color: #5072c9;
  width: 110px;
}
.legendary {
  background-color: #FED850;
  width: 110px;
}